<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" th:href="@{/vendor/datatables/simple-datatables-style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/vendor/dashboard/styles.css}">
    <title>Usuarios - Admin</title>
</head>

<body class="sb-nav-fixed">
    <!-- <<< Header >>> -->
	<div th:include="admin/fragments_admin :: header-admin"></div>

    <div id="layoutSidenav">

        <!-- <<< Side Left Menu >>> -->
	    <div th:include="admin/fragments_admin :: left-menu-admin"></div>

        <!-- ****** Main Content ****** -->
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid px-4">
                    <h1 class="mt-4">Buscar - Editar</h1>
                    
                    <!-- ****** Breadcrumbs ****** -->
                    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb"> 
                        <ol class="breadcrumb mb-4" th:with="bc1=${breadcrumbs.get(#httpServletRequest.requestURI)}, bc2 = ${#strings.arraySplit(#strings.substring({bc1},1,{bc1.length+1}),'+')}">
                            <li class="breadcrumb-item">
                                <a th:if="${bc2.length > 2}" th:href="@{${bc2[0]}}" th:text="${bc2[1]}">Text 1</a>
                                <a th:unless="${bc2.length > 2}" th:text="${bc2[1]}">Text 1</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page" th:if="${bc2.length > 2}" th:text="${bc2[3]}">Text 2</li>
                        </ol>
                    </nav>

                    <!-- ****** [DataTables] Resultado búsqueda ****** -->
                    <div class="card mb-4">
                        <div class="card-header">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="16" height="16" fill="darkblue" class="mb-1">
                                <path d="M64 256V160H224v96H64zm0 64H224v96H64V320zm224 96V320H448v96H288zM448 256H288V160H448v96zM64 32C28.7 32 0 60.7 0 96V416c0
                                 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V96c0-35.3-28.7-64-64-64H64z"/>
                            </svg>
                            
                            Encontrados <span th:text="${search_users.size}"></span> usuarios
                        </div>
                        <div class="card-body">
                            <table class="table table-hover" id="datatablesTen">
                                <thead>
                                    <tr>
                                        <th>Nombre</th>
                                        <th>Email</th>
                                        <th>Rol</th>
                                        <th>Activo</th>
                                        <th>Creado</th>
                                        <th>Editar</th>
                                        <th>Area</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th>Nombre</th>
                                        <th>Email</th>
                                        <th>Rol</th>
                                        <th>Activo</th>
                                        <th>Creado</th>
                                        <th>Editar</th>
                                        <th>Area</th>
                                    </tr>
                                </tfoot>
                                <tbody>
                                    <tr th:each="user_var: ${search_users}">
                                        <td th:text="${user_var.name}"></td>
                                        <td th:text="${user_var.email}"></td>
                                        <td th:text="${user_var.role}"></td>
                                        <td th:text="${user_var.isActive} ? 'SI' : 'NO'"></td>
                                        <td th:text="${user_var.created}"></td>
                                        <td><a th:href="@{./view(email=${user_var.email})}">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="#20c997" viewBox="0 0 640 512">
                                                <path d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0
                                                 498.7 13.3 512 29.7 512H322.8c-3.1-8.8-3.7-18.4-1.4-27.8l15-60.1c2.8-11.3
                                                 8.6-21.5 16.8-29.7l40.3-40.3c-32.1-31-75.7-50.1-123.9-50.1H178.3zm435.5-68.3c-15.6-15.6-40.9-15.6-56.6
                                                  0l-29.4 29.4 71 71 29.4-29.4c15.6-15.6 15.6-40.9 0-56.6l-14.4-14.4zM375.9 417c-4.1 4.1-7
                                                   9.2-8.4 14.9l-15 60.1c-1.4 5.5 .2 11.2 4.2 15.2s9.7 5.6 15.2 4.2l60.1-15c5.6-1.4 10.8-4.3
                                                    14.9-8.4L576.1 358.7l-71-71L375.9 417z"/>
                                            </svg></a>
                                        </td>
                                        <td><a th:href="@{./team(userid=${user_var.id})}">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="#f5ceb3" class="sb-nav-link-icon" viewBox="0 0 16 16">
                                                <path fill-rule="evenodd" d="M6 3.5A1.5 1.5 0 0 1 7.5 2h1A1.5 1.5 0 0 1 10 3.5v1A1.5 1.5 0 0 1 8.5 6v1H14a.5.5 0 0 1 .5.5v1a.5.5
                                                 0 0 1-1 0V8h-5v.5a.5.5 0 0 1-1 0V8h-5v.5a.5.5 0 0 1-1 0v-1A.5.5 0 0 1 2 7h5.5V6A1.5 1.5 0 0 1 6 4.5v-1zm-6 8A1.5 1.5 0 0 1 1.5
                                                 10h1A1.5 1.5 0 0 1 4 11.5v1A1.5 1.5 0 0 1 2.5 14h-1A1.5 1.5 0 0 1 0 12.5v-1zm6 0A1.5 1.5 0 0 1 7.5 10h1a1.5 1.5 0 0 1 1.5
                                                 1.5v1A1.5 1.5 0 0 1 8.5 14h-1A1.5 1.5 0 0 1 6 12.5v-1zm6 0a1.5 1.5 0 0 1 1.5-1.5h1a1.5 1.5 0 0 1 1.5 1.5v1a1.5 1.5 0 0 1-1.5
                                                 1.5h-1a1.5 1.5 0 0 1-1.5-1.5v-1z"/>
                                            </svg></a>
                                        </td>
                                    </tr>     
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </main>
            <!-- Footer -->
            <div th:include="admin/fragments_admin :: footer"></div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/vendor/dashboard/scripts.js"></script>
    <script src="/vendor/datatables/simple-datatables-latest.js"></script>
    <script src="/vendor/datatables/simple-datatables-load.js"></script>
</body>

</html>