<!DOCTYPE html>
<html lang="en">


    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Error - WorkTime Register</title>
        <link rel="stylesheet" th:href="@{/vendor/bootstrap/css/bootstrap.min.css}">
    </head>
    
    <!-- 
    400 - Bad Request
    401 - Unauthorized
    403 - Forbidden
    404 - Not Found
    -->
    <body>
        <div class="d-flex align-items-center justify-content-center vh-100">
            <div class="text-center">
                <h1 th:if="${errors}" class="display-1 fw-bold" th:text="${errors.code}"></h1>
                <h1 th:unless="${errors}" class="display-1 fw-bold">404</h1>
                <p class="fs-3">
                    <span th:unless="${errors}" class="text-danger">Opps!</span>
                    <span th:if="${errors}" th:text="${errors.name}"></span>
                    <span th:unless="${errors}">Página no encontrada.</span>
                </p>
                <p class="lead">
                    <span th:if="${errors}" th:text="${errors.message}">Error</span>
                    <span th:unless="${errors}">La página que busca no existe.</span>
                </p>
                <a th:if="${errors}" th:href="${errors.url}" class="btn btn-primary">Volver</a>
                <a th:unless="${errors}" href="/" class="btn btn-primary">Home</a>
            </div>
        </div>
    </body>